@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* all things header */
.main-header {
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #1f2937;
}

.header-left, .header-right {
    min-width: 360px;
    width: 616px;
    display: flex;
    flex-direction: column;
}



.header-left {
    padding-left: 16px;
}

.header-right {
    padding-right: 16px;
}

/* logo and links here */

.logo, .links{
    display: flex;
    align-items: center;
    height: 72px;
}

.logo {
    align-self: flex-start;
    font-size: 24px;
    color: #f9faf8;

}

.links {
    align-self: flex-end;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* intro and image here */
.intro, .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 300px;
    margin: auto 0;
}

.intro-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.intro-button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 10%;
    border: 1px  solid #3882F6;
    padding: 6px 24px; 
    cursor: pointer;
}

/* hacky way to fit image in a page */

.image {
    justify-content: flex-start;
    align-items: center;
}

.img-container {
    height: inherit;
    width: 375px;
    border-radius: 25%;
    overflow: hidden;
}

img {
    transform: translate(-32px, -25px);
    height: 630px;
}

/* information section here */




.main-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 910px;
    height: 328px;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
}

.card {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

.card-text {
    width: 150px;
    text-align: center;
    font-size: 16px;
    color: #1f2937;
}